<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <hr>
    </div>
  </div>
</div>
<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= photo.user.username %>:
        <% from_time = ((Time.now - photo.updated_at) / 1.minute).round.minutes.ago %>
        <%= time_ago_in_words(from_time) %> ago
      </div>
      <div class="panel-body">
        <img src="<%= photo.image %>" width=750>
      </div>
      <div class="panel-footer">
        <%= photo.caption %>
        <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
        <% if current_user == photo.user then %>
        <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
